<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-20">
  <div
    class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
  >
    <div
      class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
    >
      <div>
        <div>
          <button
            (click)="openModalAgregar()"
            data-modal-target="crud-modal"
            data-modal-toggle="crud-modal"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              Agregar
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- Main modal -->
    <div
      *ngIf="modalVisibleA"
      class="fixed inset-0 z-50 overflow-hidden flex items-center justify-center"
    >
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      <div
        class="relative mx-auto p-4 w-full max-w-2xl max-h-semi overflow-y-auto bg-white rounded-lg shadow dark:bg-gray-700"
      >
        <!-- Modal content -->
        <div class="relative">
          <!-- Modal header -->
          <div
            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
          >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Crea un nuevo usuario
            </h3>
            <button
              type="button"
              (click)="closeModal()"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->

          <div class="max-w-2xl mx-auto bg-white p-12">
            <form (ngSubmit)="saveUser()">
              <div class="grid gap-6 mb-6 lg:grid-cols-2">
                <div>
                  <label
                    for="first_name"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Nombre</label
                  >
                  <input
                    type="text"
                    id="first_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="nombre"
                    [(ngModel)]="user.nombre"
                    placeholder="John"
                    required
                  />
                </div>
                <div>
                  <label
                    for="last_name"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Apellido</label
                  >
                  <input
                    type="text"
                    id="last_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="apellido"
                    [(ngModel)]="user.apellido"
                    placeholder="Doe"
                    required
                  />
                </div>
                <div>
                  <label
                    for="company"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Cedula</label
                  >
                  <input
                    type="text"
                    id="company"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="cedula"
                    [(ngModel)]="user.cedula"
                    placeholder="1001236993"
                    required
                  />
                </div>
                <div>
                  <label
                    for="phone"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Telefono</label
                  >
                  <input
                    type="tel"
                    id="phone"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="telefono"
                    [(ngModel)]="user.telefono"
                    placeholder="123-45-678"
                    pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                    required
                  />
                </div>
                <div>
                  <label
                    for="website"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Genero</label
                  >
                  <select
                    type="url"
                    id="website"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="genero"
                    [(ngModel)]="user.genero"
                    placeholder="F/M"
                    required
                  >
                    <option selected="">F/M</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                  </select>
                </div>
                <div>
                  <label
                    for="visitors"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Fecha de nacimiento</label
                  >
                  <input
                    type="date"
                    id="visitors"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="fechaNacimiento"
                    [(ngModel)]="user.fechaNacimiento"
                    placeholder=""
                    required
                  />
                </div>
              </div>
              <div class="mb-6">
                <label
                  for="direccion"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Direccion</label
                >
                <input
                  type="text"
                  id="direccion"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="direccion"
                  [(ngModel)]="user.direccion"
                  placeholder="Diagonal 77a"
                  required
                />
              </div>
              <div class="mb-6">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Email
                </label>
                <input
                  type="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="correo"
                  [(ngModel)]="user.correo"
                  placeholder="john.doe@company.com"
                  required
                />
              </div>
              <div class="mb-6">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Contraseña</label
                >
                <input
                  type="password"
                  id="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="contrasena"
                  [(ngModel)]="user.contrasena"
                  placeholder="•••••••••"
                  required
                />
              </div>
              <div class="mb-6">
                <label
                  for="confirm_password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Confirmar Contraseña</label
                >
                <input
                  type="password"
                  id="confirm_password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="confirmacionContrasena"
                  [(ngModel)]="confirmacionContrasena"
                  placeholder="•••••••••"
                  required
                />
              </div>

              <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                  <input
                    id="remember"
                    type="checkbox"
                    value=""
                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                    required
                  />
                </div>
                <label
                  for="remember"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                  ><a
                    href="#"
                    class="text-blue-600 hover:underline dark:text-blue-500"
                    required
                    >Recuerdame</a
                  >.</label
                >
              </div>
              <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Agregar
              </button>
              <div *ngIf="errorMessage" class="mb-4 text-red-600">
                {{ errorMessage }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        (keydown)="buscar()"
        type="text"
        [(ngModel)]="nombreCompleto"
        placeholder="Nombre Completo"
        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Busca usuario"
      />
    </div>
  </div>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Usuario</th>
        <th scope="col" class="px-6 py-3">Cedula</th>
        <th scope="col" class="px-6 py-3">Direccion</th>
        <th scope="col" class="px-6 py-3">Telefono</th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of usuariosFiltrados; let i = index"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            class="w-10 h-10 rounded-full"
            [src]="getProfileImage(user.idUsuario + 150)"
            alt="image"
          />
          <div class="ps-3">
            <div class="text-base font-semibold">
              {{ user.nombre + " " + user.apellido }}
            </div>
            <div class="font-normal text-gray-500">{{ user.correo }}</div>
          </div>
        </th>
        <td class="px-6 py-4">
          {{ user.cedula }}
        </td>
        <td class="px-6 py-4">
          {{ user.direccion }}
        </td>
        <td class="px-6 py-4">
          {{ "(+57) " + user.telefono }}
        </td>
        <td class="px-6 py-4">
          <button
            (click)="openModal(user)"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              Editar
            </span>
          </button>

          <!-- Main modal -->
          <div
            *ngIf="modalVisible"
            class="fixed inset-0 z-50 overflow-hidden flex items-center justify-center"
          >
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            <div
              class="relative mx-auto p-4 w-full max-w-2xl max-h-semi overflow-y-auto bg-white rounded-lg shadow dark:bg-gray-700"
            >
              <div class="relative">
                <!-- Modal header -->
                <div
                  class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
                >
                  <h3
                    class="text-lg font-semibold text-gray-900 dark:text-white"
                  >
                    Editar Usuario
                  </h3>
                  <button
                    type="button"
                    (click)="closeModal()"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                  >
                    <svg
                      class="w-3 h-3"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 14"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                      />
                    </svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
                <!-- Modal body -->
                <div class="max-w-2xl mx-auto bg-white p-12">
                  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="grid gap-6 mb-6 lg:grid-cols-2">
                      <div>
                        <label
                          for="nombre"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Nombre</label
                        >
                        <input
                          type="text"
                          id="nombre"
                          formControlName="nombre"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          placeholder="John"
                          required
                        />
                      </div>
                      <div>
                        <label
                          for="apellido"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Apellido</label
                        >
                        <input
                          type="text"
                          id="apellido"
                          formControlName="apellido"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          placeholder="Doe"
                          required
                        />
                      </div>
                      <div>
                        <label
                          for="cedula"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Cédula</label
                        >
                        <input
                          type="text"
                          id="cedula"
                          formControlName="cedula"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          placeholder="1234567890"
                          required
                        />
                      </div>
                      <div>
                        <label
                          for="contrasena"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Contraseña</label
                        >
                        <input
                          type="password"
                          id="contrasena"
                          formControlName="contrasena"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          placeholder="•••••••••"
                          required
                        />
                      </div>
                      <div>
                        <label
                          for="fechaNacimiento"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Fecha de Nacimiento</label
                        >
                        <input
                          type="date"
                          id="fechaNacimiento"
                          formControlName="fechaNacimiento"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          required
                        />
                      </div>
                      <div>
                        <label
                          for="genero"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Género</label
                        >
                        <select
                          id="genero"
                          formControlName="genero"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          required
                        >
                          <option value="M">Masculino</option>
                          <option value="F">Femenino</option>
                        </select>
                      </div>
                      <div>
                        <label
                          for="direccion"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Dirección</label
                        >
                        <input
                          type="text"
                          id="direccion"
                          formControlName="direccion"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          placeholder="1234 Main St"
                          required
                        />
                      </div>
                      <div>
                        <label
                          for="correo"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Correo</label
                        >
                        <input
                          type="email"
                          id="correo"
                          formControlName="correo"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          placeholder="john.doe@example.com"
                          required
                        />
                      </div>
                      <div>
                        <label
                          for="telefono"
                          class="block mb-2 text-sm font-medium text-gray-900"
                          >Teléfono</label
                        >
                        <input
                          type="tel"
                          id="telefono"
                          formControlName="telefono"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          placeholder="123-456-7890"
                          required
                        />
                      </div>
                    </div>
                    <button
                      type="submit"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                    >
                      Editar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="px-6 py-4">
          <button
            (click)="deleteUser(user.idUsuario)"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              Eliminar
            </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
